{
 :muuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/codelists/bedrijventerrein"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/bedrijventerrein/muuuid"
                      :clj-pipelines/dumpname              "bedrijventerrein-code-muuid.ttl.gz"}

 :muuuid2             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/aanbieder"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/aanbieder"
                      :clj-pipelines/dumpname              "aanbieder-muuid.ttl.gz"}

 :muuuid3             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/terrein"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/terrein"
                      :clj-pipelines/dumpname              "terrein-muuid.ttl.gz"}

 :muuuid4             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel0"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel0"
                      :clj-pipelines/dumpname              "perceel0-muuid.ttl.gz"}

 :muuuid5             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel1"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel1"
                      :clj-pipelines/dumpname              "perceel1-muuid.ttl.gz"}


 :muuuid6             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel2"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel2"
                      :clj-pipelines/dumpname              "perceel2-muuid.ttl.gz"}

 :muuuid7             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel3"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel3"
                      :clj-pipelines/dumpname              "perceel3-muuid.ttl.gz"}


 :muuuid8             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel4"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel4"
                      :clj-pipelines/dumpname              "perceel4-muuid.ttl.gz"}

 :muuuid9             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel5"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel5"
                      :clj-pipelines/dumpname              "perceel5-muuid.ttl.gz"}


 :muuuid10            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel6"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel6"
                      :clj-pipelines/dumpname              "perceel6-muuid.ttl.gz"}

 :muuuid11            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel7"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel7"
                      :clj-pipelines/dumpname              "perceel7-muuid.ttl.gz"}


 :muuuid12            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel8"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel8"
                      :clj-pipelines/dumpname              "perceel8-muuid.ttl.gz"}

 :muuuid13            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/perceel9"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/perceel9"
                      :clj-pipelines/dumpname              "perceel9-muuid.ttl.gz"}



 :muuuid14            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/beperking"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/beperking"
                      :clj-pipelines/dumpname              "beperking-muuid.ttl.gz"}


 :muuuid15            {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/beheerdezone"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/beheerdezone"
                      :clj-pipelines/dumpname              "beheerdezone-muuid.ttl.gz"}


 :muuuid16             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/organisatie"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/organisatie"
                      :clj-pipelines/dumpname              "organisatie-muuid.ttl.gz"}


 :muuuid17             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/ontwikkelbarezone"
                      :clj-pipelines.addmuuuid/domain      "bedrijventerrein.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://bedrijventerrein.vlaanderen.be/id/dataset/bedrijventerrein/muuuid/ontwikkelbarezone"
                      :clj-pipelines/dumpname              "ontwikkelbarezone-muuid.ttl.gz"}



}
