{
 :muuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/codelists/bedrijventerrein"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/bedrijventerrein/muuuid"
                      :clj-pipelines/dumpname              "bedrijventerrein-muuid.ttl.gz"}
}
